
.container {
    max-width: 1024px;
    margin: 48px auto;
}

.container-item {
    margin: 0px 0px 24px 0px;
    background-color: white;
    display: flex;
}

.map {
    overflow: scroll;
    height: 200px;
    width: 50%;
}

.details-map {
    padding: 26px;
}
