.navbar {    
    width: 100%;
    background: linear-gradient(to right, #C9B997, #C5A76B);
    height: 50px;
    display: inline-flex;
    text-align: center;
    justify-content: center;
}

.itensNavbar {
    height: 50px;
    width: 200px;
}

.linkNavbar {
    height: 50px;
    line-height: 50px;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
}
